 html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: "ProximaNova";
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
.modal-dialog{
	pointer-events: inherit;
}
input{
	outline: none;
	border: none;
}
.b-input-text{
	width: 100%;
	height: 48px;
	background: transparent;
	border: 1px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;	
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	padding: 0 13px;
	margin: 0 0 7px 0;
}
.b-input-text.error{
	border-color: red;
}
.b-input-text::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}
.b-input-text:-moz-placeholder{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;	
}
.b-input-btn{
	width: 168px;
	height: 49px;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	display: block;
	margin: 15px 0 0 0;
}
input[type=submit] {
	cursor: pointer;
}

.b-checkbox{
    display: block;
    margin: 25px 0 0 0;
}
.b-checkbox input[type="checkbox"]{
    display: none;
}
.b-checkbox input[type="checkbox"] + label span{
	display: block;
	width: 24px;
	height: 24px;
	background: #e1e1e1;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-checkbox:hover input[type="checkbox"] + label span{
	background: #fbe6e6;	
}
.b-checkbox input[type="checkbox"] + label{
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-checkbox input[type="checkbox"]:checked + label span{
	display: block;
	width: 24px;
	height: 24px;
	background: #f19d9d url(../images/check.png) center no-repeat;
}
.b-checkbox input[type="checkbox"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="checkbox"] + label i{
	color: #3c3834;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
    font-style: normal;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 44px;
	border: 1px solid #ffffff;
	border-radius: 3px;	
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	padding: 0 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: transparent url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-select option{
	background: #188481;
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{
	background: #fafcfe;
}
.fancybox-container{
	z-index: 999999;
}
/* End Total css ====*/
.container-fluid{
	max-width: 1600px;
}
/* -------------- page index -------------- */
.b-header{
	font-family: 'Roboto', sans-serif;
	background: #fafdfe;
	padding: 25px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-mobile{
	display: none;
}
.b-header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px 0;
}
.b-logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-logo span{
	max-width: 192px;
	color: #878383;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;	
	margin: 0 0 0 35px;
}
.b-header-right{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-header-contacts{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-header-contacts__item{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 65px 0 0;
}
.b-header-contacts__item__img{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 11px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 15px 0 0;
	border-right: 1px solid #e8e8e8;
}
.b-header-contacts__item__text{
	
}
.b-header-contacts__item__text span{
	display: block;
	color: #878383;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;	
	margin: 0 0 7px 0;
}
.b-header-contacts__item__text a{
	display: block;
	color: #343434;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;	
}
.b-nav{
	margin: 0;
	border-top: 1px solid #ebedec;
	border-bottom: 1px solid #ebedec;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-nav ul li{
	list-style: none;
	margin: 0 40px 0 0;
}
.b-nav ul li:last-child{
	margin: 0;
}
.b-nav ul li a{
	display: block;
	color: #353535;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	padding: 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-nav ul li a:after{
	position: absolute;
	bottom: -1px;
	left: 0;
	content: "";
	width: 100%;
	height: 4px;
	background: #008280;	
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.b-nav ul li.active a:after{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}
.btn-lk{
	width: 176px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.btn-green{
	background: #008280;
	border-radius: 3px;
	color: #ffffff;
	transition: 0.3s;
}
.btn-green:hover{
	transition: 0.3s;
    background: #059e9c;
}
.btn-green:active{
	transition: 0.3s;
	background: #0c7574;
}
/* -------------- b-main -------------- */
.b-main-page{

}
.b-main{
	background: url(../images/main-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 50px 0 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 429px;
}
.b-main-page .b-main{
	padding: 0;
	min-height: inherit;
}
.b-main-page .b-main-left{
	padding: 35px 0 0 0;
	position: relative;
}
.b-main-page .slick-dots{
	justify-content: center;
}
.b-main-page .slick-dots li button{
	border-color: #fff;
}
.b-main-page .slick-dots li.slick-active button{
	border-color: #008280;
}
.b-main-left__top{
	font-family: 'Roboto', sans-serif;
	margin: 0 0 45px 0;
}
h1{
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	line-height: 26px;
	text-transform: none;
	margin: 0 0 15px 0;
}
.b-main-left__top p{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;	
	margin: 0;
}
.b-main-wrap{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
	padding: 0 0 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-item{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	font-family: 'Roboto', sans-serif;
	width: 260px;
	width: 288px;
	margin: 0 0 30px 0;
}
.b-main-item__img{
	flex-shrink: 0;
	width: 36px;
	margin: 0 15px 0 0;
}
.b-main-item__text{

}
.b-main-item__text p{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}
.b-main-form__wrap{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.b-main-form{
	width: 290px;
}
.b-main-page .b-main-form{
	width: 360px;
	background: rgba(2, 15, 15, 0.43);
	padding: 35px 30px 55px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-main-form__title{
	font-family: 'Roboto', sans-serif;
	margin: 0 0 20px 0;
}
.b-main-form__title b{
	display: block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	margin: 0 0 14px 0;
}
.b-main-form__title p{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 19px;
	margin: 0;
}
.b-main-slider__nav{
	position: absolute;
	top: 15px;
	right: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-main-arrow{
	position: static !important;
	width: 29px;
	height: 29px;
	background: rgba(0, 130, 128, 0.23);
	border-radius: 100%;
	display: flex  !important;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 19px;
	margin: 0 10px 0 0 !important;
	text-indent: inherit !important;
	transition: 0.3s;
}
.b-main-arrow:last-child{
	margin: 0 !important;
}
.b-main-arrow:hover{
	transition: 0.3s;
	background: rgba(0, 130, 128, 1);
}
.b-main-next{

}
.b-main-prev{

}
/* -------------- b-insurance -------------- */
.b-insurance{

}
.b-insurance-slider{
	position: relative;
	border-top: 1px solid #e8e8e8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-insurance-row{
	display: flex !important;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px 15px 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-insurance-block{
	padding: 0 40px 40px 0;
	margin: 0 30px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 325px;
	background: #fafcfe;
	border-right: 1px solid #dbddde;
}
.b-insurance-block__img{
	margin: 0 0 25px 0;
}
.b-insurance-block__text{

}
.b-insurance-block__text b{
	display: block;
	color: #0d1b48;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	margin: 0 0 20px 0;	
}
.b-insurance-block__text p{
	color: #353535;
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	margin: 0;
}
.b-insurance-content{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 0 15px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-insurance-item{
    background: rgba(255, 255, 255, 0.55);
	border-radius: 3px;
	box-shadow: 1.3px 2.7px 16px rgba(0, 0, 0, 0.07);
	padding: 30px 20px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	width: 254px;
	margin: 0 10px 0 0;
}
.b-insurance-item:last-child{
	margin: 0;
}
.b-insurance-item__top{
	text-align: center;
	width: 100%;
	margin: 0 0 20px 0;
}
.b-insurance-item__top b{
	display: block;
	color: #0a8682;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	margin: 0 0 5px 0;
}
.b-insurance-item__top span{
	display: block;
	color: #0e1c49;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	}
.b-insurance-item ul{
	padding: 0;
	margin: 0;
	width: 100%;
}
.b-insurance-item ul li{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	color: #353535;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 0 15px 0;
}
.b-insurance-item ul li:last-child{
	margin: 0;
}
.b-insurance-item ul li:before{
	display: block;
	content: "";
	background: url(../images/b-insurance-item__ico.png) no-repeat;
	width: 11px;
	height: 11px;
	margin: 3px 10px 0 0;
	flex-shrink: 0;
}
.b-insurance-btn{
	display: block;
	margin: 24px auto 0;
	width: 112px;
	height: 31px;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}
.slick-dots{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
.b-insurance-slider .slick-dots{
	position: absolute;
	bottom: 30px;
	left: 0;
}
.slick-dots li{
	list-style: none;
	margin: 0 10px 0 0;
}
.slick-dots li button{
	width: 9px;
	height: 9px;
	border-radius: 100%;
	border: 1px solid #008280;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.3s;
	text-indent: -99999px;
}
.slick-dots li.slick-active button{
	background: #008280;
	transition: 0.3s;
}
.slick-arrow{
	position: absolute;
	top: 50%;
	text-indent: -999999px;
	display: block;
	margin: -17px 0 0 0;
}
.slick-next{
	background: url(../images/slick-next.png) no-repeat;
	width: 20px;
	height: 34px;
	right: -30px;
}
/* -------------- b-insurance -------------- */
.b-form{
	margin: 0 0 30px 0;
}
.b-form-content{
	background: url(../images/form-bg.jpg) top center no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 35px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-form-title{
	margin: 25px 25px 0 0;
}
.b-form-title b{
	display: block;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 900;
}
.b-form-title span{
	display: block;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 600;	
}
.b-form-wrap{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.b-form .b-input-text{
	height: 44px;
	margin: 0;
}
.b-form-item{
	width: 155px;
	margin: 0 20px 0 0;
}
.b-form-item:last-child{
	margin: 0;
}
.b-form-item span{
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	line-height: 16px;
	margin: 0 0 10px 0;
}
.b-form-btn{
	width: 100%;
	height: 44px;
	background: #ffffff;
	border-radius: 3px;
	color: #008280;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}
.b-form-btn:hover{
	opacity: 0.7;
	transition: 0.3s;
}
.b-form-btn:active{
	opacity: 1;
	transition: 0.3s;
}
/* -------------- b-bottom -------------- */
.b-bottom{
	margin: 35px 0;
}
.b-about-block{

}
.b-bottom-top{
	margin: 0 0 21px 0;
}
.b-bottom-top span{
	display: block;
	color: #0d1b48;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
}
.b-about-wrap{
	overflow: hidden;
}
.b-about-wrap img{
	float: left;
	margin: 0 15px 10px 0;
}
.b-about-wrap p{
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 0 15px 0;
}
.b-news-wrap{

}
.b-news-block{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0 17px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #e1e1e1;
	margin: 0 0 17px 0;
}
.b-news-block__img{
	flex-shrink: 0;
	margin: 0 24px 0 0;
	position: relative;
}
.b-news-block__img:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/play-ico.png) rgba(0, 130, 128, 0.64) center no-repeat;
}
.b-news-block__content{

}
.b-news-block__content b{
	display: block;
	color: #323232;
	font-size: 15px;
	font-weight: 600;
	line-height: 17px;
	margin: 0 0 10px 0;
}
.b-news-block__date{
	margin: 0 0 3px 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-news-block__date:before{
	content: "";
	display: block;
	flex-shrink: 0;
	background: url(../images/time-ico.png) no-repeat;
	width: 14px;
	height: 14px;
	margin: 0 8px 0 0;
}
.b-news-block__date span{
	opacity: 0.3;
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}
.b-news-block p{
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
}
.b-news-btn{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	color: #323232;
	font-size: 15px;
	font-weight: 600;
	line-height: 17px;	
	transition: 0.3;
}
.b-news-btn:after{
	content: "";
	display: block;
	background: url(../images/green-arrow.png) no-repeat;
	width: 13px;
	height: 9px;
	margin: 0 0 0 14px;
}
.b-news-btn:hover{
	text-decoration: none;
	color: #323232;
	opacity: 0.8;
	transition: 0.3;
}
.b-news-btn:active{
	text-decoration: none;
	color: #323232;
	opacity: 1;
	transition: 0.3;
}
/* -------------- b-footer -------------- */
.b-footer{
	background: url(../images/footer-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 26px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-footer > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-footer-logo{
	display: block;
	flex-shrink: 0;
	margin: 0 65px 0 0;
}
.b-footer-right{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-footer-text{
	margin: 0 55px 0 0;
}
.b-footer-text p{
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	margin: 0 0 10px 0;
}
.b-footer-text p:last-child{
	margin: 0;
}
.b-footer-form{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
}
.b-footer-form b{
	display: block;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	margin: 0 25px 0 0;
	flex-shrink: 0;
}
.b-footer-input{
	width: 210px;
	background: url(../images/mail-ico.png) no-repeat;
	background-position: left 15px center;
	padding: 0 10px 0 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 10px 0 0;
}
.b-footer-btn{
	width: 118px;
	height: 42px;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	text-transform: uppercase;
}
.b-footer-form__wrap{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-breadcreambs{
	font-family: 'Roboto', sans-serif;
	margin: 20px 0;
}
.b-breadcreambs ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-breadcreambs ul li{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-breadcreambs ul li a{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 17px;
    color: silver;
    font-weight: 400;
}
.b-breadcreambs ul li i{
	display: block;
	background: url(../images/silver-arrow.png) no-repeat;
	width: 10px;
	height: 5px;
	text-indent: -9999px;
    margin: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-breadcreambs ul li:last-child i{
	display: none;
}
.b-breadcreambs ul li:last-child a{
	color: #008280;
	font-weight: 900;
}
/* -------------- page product -------------- */
.b-main__in{
	padding: 50px 0 0 0;
}
.b-main-left__wrap{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 60px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-text{
	padding: 100px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-text h2{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	line-height: 27px;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	margin: 0 0 24px 0;
}
.b-main-text h2:after{
	display: block;
	content: "";
	width: 34px;
	height: 1px;
	background: #008280;
	margin: 20px 0 0 0;	
}
.b-main-text p{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	line-height: 32px;
	font-size: 22px;
	font-weight: 400;
}
.b-main-image{
	flex-shrink: 0;
}
.b-program{
	padding: 0 0 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-title{
	text-align: center;
	margin: 0 0 30px 0;
}
.b-title span{
	display: block;
	color: #0d1b48;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;	
	margin: 0 0 17px 0;
}
.b-title p{
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	margin: 0;
}
.b-program-content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-program-left{
	flex-shrink: 0;
	width: 360px;
}
.b-program-left__top{
	height: 66px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-program-left__top b{
	display: block;
	color: #353535;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.b-program-left__list{

}
.b-program-left__item{
	border-bottom: 1px solid #e8f4f5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 13px 0;
	min-height: 67px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.b-program-left__item span{
	display: block;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;	
}
.b-program-left__item ul{
	padding: 0;
	margin: 0;
}
.b-program-left__item ul li{
	list-style: none;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;	
}
.b-program-item{
	flex: 3;
	background: #f0f8f9;
	margin: 0 7px 0 0;
}
.b-program-item:last-child{
	margin: 0;
}
.b-program-item__top{
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #7dbfbf;
}
.b-program-item__2 .b-program-item__top{
	background: #379d9c;
}
.b-program-item__3 .b-program-item__top{
	background: #008280;
}
.b-program-item .b-program-item__top span{
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	display: block;
}
.b-program-item span{
	display: none;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;	
}
.b-program-item ul{
	display: none;
	padding: 0;
	margin: 0;
}
.b-program-item ul li{
	list-style: none;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;	
}

.b-program-item .b-program-item__top span{
	display: block;
}
.b-program-item__row{
	height: 67px;
	display: flex;
	text-align: center;
	align-items: center;
	border-bottom: 1px solid #e8f4f5;
}
.b-program-item img{
	margin: 0 auto 0;
}
.b-program-item p{
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	margin: 0;
	text-align: center;
	width: 100%;
}
.b-program-item b{
	color: #353535;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	display: block;
	text-align: center;
	width: 100%;
}
.b-program-item__big{
	min-height: 107px;
}
.b-advantages{
    margin: 55px 0 10px 0;
}
.b-advantages .b-title{
	margin: 0 0 60px 0;
}
.b-advantages-content > .row > div{
	margin-bottom: 50px;
}
.b-advantages-item{
	text-align: center;
}
.b-advantages-item__img{
	height: 78px;
	margin: 0 0 25px 0;
	display: flex;
	align-items: flex-end;
}
.b-advantages-item__img img{
	margin: 0 auto 0;
}
.b-advantages-item p{
	color: #343434;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	padding: 0px 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
.b-main-3{
	background: #008280;
	padding: 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-container__left{
	border-right: 1px solid #399a98;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-container__left > div{
	padding: 0 15px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-criteria{
	padding: 0 0 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-criteria ul{
	padding: 0;
	margin: 0;
}
.b-criteria ul li{
	list-style: none;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 30px 0;
	max-width: 431px;
}
.b-criteria ul li:last-child{
	margin: 0;
}
.b-criteria ul li:before{
	content: "";
	width: 21px;
	height: 21px;
	background: url(../images/checked-w.png) no-repeat;
	display: block;
	margin: 0 18px 0 0;
	flex-shrink: 0;
}
.b-assistance{
	padding: 45px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-assistance-content{

}
.b-assistance-content ul{
	padding: 0;
	margin: 0;
}
.b-assistance-content ul li{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	color: #4e4f4f;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	margin: 0 0 20px 0;
}
.b-assistance-content ul li:last-child{
	margin: 0;
}
.b-assistance-content ul li:before{
	content: "";
	flex-shrink: 0;
	display: block;
	background: url(../images/checked-ico.png) no-repeat;
	width: 20px;
	height: 20px;
	margin: 0px 14px 0 0;
}
/* -------------- page b-products -------------- */
.b-products-top{

}
.b-products-top .b-title{
	text-align: left;
}
.b-products-top .b-main-item__text p{
	color: #343434;
}
.b-products-top .b-main-item{
	width: auto;
}
.b-insurance-two{

}
.b-products-content{
	
}
.b-products-content .b-insurance-row{
	border-top: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	padding: 35px 0;
}
.b-products-content .b-insurance-block{
	margin: 0;
    padding: 0 20px 0px 0;
    width: 336px;
}
.b-products-content  .b-insurance-block__text b{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 10px 0;
}
.b-products-content .b-insurance-block__text p{
	font-size: 14px;
	line-height: 18px;
	color: #323232;
	font-weight: 400;
}
/* -------------- page b-about -------------- */
.b-about{
	margin: 30px 0;
}
.b-about-item{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 -15px 35px -15px;
}
.b-about-item__img{
	flex-shrink: 0;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about-item__img img{
	background: #c9b280;
	border: 5px solid #f4f7f9;
	box-shadow: 0 0 21px rgba(68, 93, 124, 0.31);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about-item__content{
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about-item__content p{
	color: #323131;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	margin: 0 0 20px 0;
}
.b-about-item__content strong{
	display: block;
	color: #323131;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
}
.b-about-item__content__top b{
	display: block;
	color: #0d1b48;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin: 0 0 15px 0;
}
.b-about-item__video{
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-shrink: 0;
}
.b-about-item__video__wrap{
	position: relative;
}
.b-about-item__video__wrap:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/btn-play2.png) center no-repeat rgba(32, 32, 32, 0.74);
}
.b-about-item__video__wrap{
	position: relative;
}
.b-about-item__wrap{
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
}
.b-about-item__block{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 55px 0;
}
.b-about-item__block:last-child{
	margin: 0;
}
.b-about-item__block__number{
	width: 57px;
	height: 57px;
	background: #00827e;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px 0 0;
	flex-shrink: 0;
	position: relative;
}
.b-about-item__block__number:after{
	position: absolute;
	bottom: -40px;
	left: 50%;
	content: "";
	margin: 0 0 0 -5.5px;
	background: url(../images/grey-arrow.png) no-repeat;
	width: 11px;
	height: 15px;
}
.b-about-item__block:last-child .b-about-item__block__number:after{
	display: none;
}
.b-about-item__block__number span{
	color: #ffffff;
	font-size: 32px;
	font-weight: 400;
	line-height: 34px;
}
.b-about-item__block__text{

}
.b-about-item__block__text span{
	display: block;
	color: #00827e;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 0 10px 0;	
}
.b-about-item__block__text p{
	color: #323131;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
}

.b-about-text p{
	color: #323131;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	margin: 0 0 20px 0;
}
.b-about-text p:last-child{
	margin: 0;
}
/* -------------- page b-finance -------------- */
.b-finance{
	margin: 30px 0;
}
.b-finance-top{
	border-bottom: 1px solid #d7dbe3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
}
.b-finance-top .b-title{
	margin: 0;
	padding: 0;
}
.b-finance .b-title{
	text-align: left;
}
.b-finance-slider{
	padding: 0 35px 35px 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #d7dbe3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	margin: 0 0 35px 0;
}
.b-finance-slider__item{
	padding: 0 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-finance-slider__item b{
	display: block;
	color: #008280;
	font-size: 44px;
	font-weight: 400;
	line-height: 46px;
	margin: 0 0 30px 0;
}
.b-finance-slider__item ul{
	padding: 0;
	margin: 0;
}
.b-finance-slider__item ul li{
	list-style: none;
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	margin: 0 0 25px 0;	
}
.b-finance-slider__item ul li:last-child{
	margin: 0;
}
.b-finance-slider .slick-arrow{
	width: 52px;
	height: 52px;
	background: #008280;
	border-radius: 100%;
	top: 0;
	margin: 0;
	transition: 0.3s;
}
.b-finance-slider .slick-arrow:hover{
	opacity: 0.8;
	transition: 0.3s;
}
.b-finance-slider .slick-prev{
	left: 0;
	background: url(../images/slick-prev.png) no-repeat center #008280;
}
.b-finance-slider .slick-next{
	background: url(../images/slick-next.png) no-repeat center #008280;
	right: 0;
}
.b-finance-line{
	display: block;
	width: 100%;
	height: 1px;
	background: #d7dbe3;
	margin: 30px 0;
}

.b-finance-content ul{
	padding: 0;
	margin: 15px 0;
}
.b-finance-content ul li{
	list-style: none;
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
}
.b-finance-content ul li{
	margin: 0 0 25px 0;
}
.b-finance-content ul li:last-child{
	margin: 0;
}
/* -------------- page b-news -------------- */
.b-news{
	margin: 30px 0;
}
.b-news .b-title{
	text-align: left;
}

.b-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px  0;
}
.btn-pagination{
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;	
	color: #00827e;
	font-size: 30px;
	line-height: 7px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 0 3px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-pagination ul{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.b-pagination ul li{
	list-style: none;
	margin: 0 5px;
}
.b-pagination ul li a{
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #00827e;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.b-pagination ul li.active a{
	background: #00827e;
	color: #ffffff;
}
.b-article{
	display: block;
	border: none;
	padding: 0;
}
.b-article .b-news-block__img{
	margin: 0 0 20px 0;
}
.b-article .b-news-block__date{
	margin: 0 0 10px 0;
}
.b-article .b-news-block__content p{
	margin: 0 0 20px 0;
}
.b-article .b-news-block__content p:last-child{
	margin: 0;
}

/* -------------- page b-contacts -------------- */
.b-contacts{
	margin: 30px 0;
}
.b-contacts .b-title{
	text-align: left;
}
.b-contacts-select{
	width: 100%;
	height: 46px;
	border: 1px solid #d1d1d1;
	border-radius: 3px;	
	color: #4c4c4c;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #fafcfe url(../images/select-arrow2.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	margin: 0 0 30px 0;
	appearance: none !important;        
}
.b-contacts-content{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 -30px;
}
.b-contacts-item{
	width: 50%;
	padding: 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 1px solid #f2ebf6;
}
.b-contacts-item:last-child{
	border: none;
}
.b-contacts-item__top{
	margin: 0 0 22px 0;
}
.b-contacts-item__top span{
	display: block;
	color: #303030;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.b-contacts-item__wrap{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
}
.b-contacts-item__col{
	width: 40%;
	margin: 0 0 15px 0;
}
.b-contacts-item__col b{
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #303030;
	font-weight: 700;
	margin: 0 0 5px 0;
}
.b-contacts-item__col span{
	display: block;
	color: #303030;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}
.b-contacts-item__col span i{
	font-style: normal;
	color: #008280;
	font-weight: 400;
}
.b-map{
	width: 100%;
	height: 170px;
	background: #bea60d;
	border: 2px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* -------------- page b-faq -------------- */
.b-faq{
	padding: 0 0 35px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 620px;
}
.b-faq .b-title{
	text-align: left;
}
.b-faq-content{

}
.b-faq-item{
	margin: 0 0 10px 0;
}
.b-faq-item__top{
	background: #008280;
	position: relative;
	padding: 15px 28px;
	border: 2px solid #008280;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}
.b-faq-item__top:after{
	position: absolute;
	top: 10px;
	right: 20px;
	content: "›";
	color: #ffffff;
	font-size: 26px;
	font-weight: 400;
	line-height: 28px;
	transform: rotate(270deg);
	transition: 0.3s;
}
.b-faq-item__top span{
	display: block;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}
.b-faq-item__top.collapsed{
	background: transparent;
	border: 2px solid #e8e8e8;
}
.b-faq-item__top.collapsed span{
	color: #353433;
}
.b-faq-item__top.collapsed:after{
	transform: rotate(90deg);
	color: #353433;
	
}
.b-faq-item__text__wrap{
	padding: 20px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f6f9fa;
	border-radius: 3px;
	margin: 4px 0 0 0;
}
.b-faq-item__text p{
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #008280;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* -------------- page 404 -------------- */
.b-error-page{
	min-height: 650px;
	padding: 100px 0 35px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-error-content{
	display: flex;
	justify-content: center;
	align-content: flex-start;
}
.b-error-content__left{

}
.b-error-content__left span{
	color: #434343;
	font-size: 328px;
	font-weight: 700;
	line-height: 330px;	
	background: linear-gradient(330deg, #17aaa7 30%, #018482  100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.b-error-content__right{
	border-left: 1px solid #c3d2d2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 0 0 55px;
	margin: 0 0 0 55px;
}
.b-error-content__right b{
	display: block;
	color: #454545;
	font-size: 44px;
	font-weight: 700;
	line-height: 46px;
}
.b-error-content__right span{
	display: block;
	color: #373737;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	margin: 25px 0;
}
.b-error-content__right p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #373737;
	margin: 0;
}
.b-error-content__right p a{
	color: #008280;
	text-decoration: underline;
}